p {
    color:bisque;
    color:bisque;
    color:bisque;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body {
    color:aquamarine;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:url('bkg_image.png');
    background-size: fit;
    /*
    background-color: burlywood;
    */
}
h1 {
    text-align: center;
    padding: 10px;
    color:aquamarine;
}

/* cursive is a CLASS not a different name! */
h1.cursive {
    font-family: "Sofia", "Helvetica",  "Trebuchet MS", sans-serif;
    text-align: center;
    padding: 10px;
    color:aquamarine;
    font-weight: 100;
}
h1.bold {
    font-family: "Audiowide", sans-serif;
}
h1.serif {
    font-family: "Trirong", serif;
}

.wrapper_menu {
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 10px;
    border-color: blanchedalmond;
    border-width: 2px;
    border-style: groove;
    
}

.wrapper_foot {
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 10px;
    border-color: blanchedalmond;
    border-width: 2px;
    border-style: groove;
    
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

a {
    color:chocolate;
    cursor:url('Untitled-1.png'), auto;
}

a.cursive {
    font-family: "Noto Sans";
    font-weight: 5;
}

bleh {
    widt
}